*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    a {
        text-decoration: none;
        color :#581413;
    }
    button{
        all: unset;
    }
}
main{
    color: #581413;
    margin:90px 0 90px 0;
    .btn{
        position: relative;
        width: 150px;
        height: 50px;
        text-align: center;
        border-radius: 30px;
        color : #581413;
        border: 2px solid #581413;
        background-color: #B2A086;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .btn:hover{
        background-color: #581413;
        color: #B2A086;
        >a{
            color:#B2A086;
        }
    }
}

.lien{
    margin-top: 300px;
}

.form{
    h1{
        margin-bottom: 50px;
    }
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .table{
        border: 4px solid #581413;
        margin: 1vh 10vw;
        border-collapse: collapse;
        thead{
            background-color: #B2A086;
            th{
                padding:5px 20px;
            }
        }
        tbody{
            td{
                border-top: 4px solid #581413;
                padding:5px 20px;
            }
            .description{
                width : 80vh;
            }
        }
    }
    .backdelete{
        width: 60%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    .create{
        width: 60%;
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
}

.littlefield{
    width : 15vh;
    height: 40px; 
    text-align: center;
    font-size: large;
    letter-spacing: 2.5px;
    resize: none;
}
.areafield{
    width : 80vh;
    height: 160px; 
    text-align: center;
    font-size: large;
    letter-spacing: 2.5px;
    resize: none;
}
.labelform{
    font-size: 20px;
}

