*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color :#581413;
    min-width: 550px;
    a{
        color :#581413;
    }
}
button{
    all: unset;
}

main{
    margin: 90px 0 0 0;
    width: 100vw;
    min-height: calc(100% - 90px );
    min-width: 550px;
    .btn:hover{
        background-color: #581413;
        color: #B2A086;
        >a{
            color:#B2A086;
        }
    }
    .btn{
        position: relative;
        width: 150px;
        height: 50px;
        text-align: center;
        border-radius: 30px;
        border: 2px solid #581413;
        background-color: #B2A086;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .btn-reverse:hover{
        background-color: #B2A086;
        color:#581413;
        border: 2px solid #581413;
        >a{
            color:#581413;
        }
    }
    .btn-reverse{
        position: relative;
        width: 150px;
        height: 50px;
        text-align: center;
        top: 10px;
        left: 10px;
        border-radius: 30px;
        border: 2px solid #B2A086;
        background-color: #581413;
        display: flex;
        flex-direction: column;
        justify-content: center;
        a{
            color: #B2A086;
        }
    }
        a{
            color: #581413;
    }
}



.inputfield{
    width: 400px;
    height: 40px; 
    text-align: center;
    font-size: large;
    letter-spacing: 2.5px;
}
.labelform{
    font-size: 20px;
}

.form{
    h1{
        margin: 0 0 50px 0;
    }
    .btn{
        margin-top: 50px;
    }
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    .info{
        display: flex;
        }
    .centerhelp{
        margin-right: 300px;
        .helpform{
            width: 350px;
            position: absolute;
            margin-top: 50px;
        }
    }
    .profilrow{
        width: 400px;
        height: 150px;
    }
}

.logScreen{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

