.imageAccueil{
    position: relative;
    .proverbe{
        position: absolute;
        bottom:250px;
        right:150px;
        color: white;
        font-size: 1.5rem;
    }
    img{
        width: 100%;
    }
}
.coursAccueil{
    text-align: center;
    margin: 0 10%;
    display:flex;
    justify-content: space-around;
    .collectif{
        .imageCollectif{
            border: 1px solid rgba(0, 0, 0, 0.2);
            width: 170px;
            height: 265px;
            border-radius: 50%;
            transform: matrix(0.96, 0.29, 0.32, -0.95, 0, 0);
            overflow: hidden;
        }
        img {
            position: absolute;
            top: 0px;
            left: -50px;
            transform: matrix(0.96, 0.29, 0.32, -0.95, 0, 0);
            }
    }
    .prive{
    .imagePrive{
        border: 1px solid rgba(0, 0, 0, 0.2);
            width: 170px;
            height: 265px;
            border-radius: 50%;
            transform: matrix(0.96, 0.29, 0.32, -0.95, 0, 0);
            overflow: hidden;
            img {
                position: absolute;
                top: -30px;
                left: -150px;
                transform: matrix(0.96, 0.29, 0.32, -0.95, 0, 0);
            }
        }
    }    
    .evenements{
        .imageEvenements{
            border: 1px solid rgba(0, 0, 0, 0.2);
                width: 170px;
                height: 265px;
                border-radius: 50%;
                transform: matrix(0.96, 0.29, 0.32, -0.95, 0, 0);
                overflow: hidden;   
            }
            img {
                position: absolute;
                top: 0px;
                left: -50px;
                transform: matrix(0.96, 0.29, 0.32, -0.95, 0, 0);
            }
    }
}

.actualiteAccueil{
    text-align: center;
    .actuContainer{
        display: flex;
        flex-wrap: wrap;
        margin: 0 10%;
        .actuCard{
            margin-top: 40px;
            display: flex;
            justify-content: center;
            width: calc(50% - 5px);
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -ms-transition: all 0.2s;
            -o-transition: all 0.2s;
            transition: all 0.2s;
            .imageCard{
                height: 100%;
                padding-left: 40px;
                .actuImage{
                    height: 100%;
                    width: 200px;
                    margin:auto;
                }
            }
            .infoCard{
                padding-left: 20px;
                font-size: 1.5rem;
                margin:auto;
                text-align: center;
            }
        }
        .actuCard:nth-child(2n){
            margin-right: 0;
        }
        .actuCard:hover {
            border : 2px solid #000000;
            box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
        }
    }
}

.temoignagesAccueil{
    margin-top: 50px;
    text-align: center;
    .temoignages1{
        margin:30px 10%;
        display: flex;
        justify-content: space-around;
    }
    .temoignages2{
        margin:30px 10%;
        display: flex;
        justify-content: space-around;
    }
    .temoignages3{
        margin:30px 10%;
        display: flex;
        justify-content: space-around;
    }
}

.line {
    margin: 40px auto;
    width: 1400px;
    border: 2px solid #581413;
}