{% extends 'base_admin.html.twig' %}

{% block title %}Hello AdminSamtoshaController!{% endblock %}

{% block main %}
<div class="lien">
<a href="/admin/samtosha/actualite">Gérer l'actu</a>
</div>
{% endblock %}
