<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ asset('css/styles-admin-nav.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles-back.min.css') }}">
    <title> 
        {% block title %}
        Admin 
        {% endblock %}
    </title>
    <html>
    <body>
	{# BARRE DE NAV  #}
	{{ render(controller(
		'App\\Controller\\AdminNavController::adminNav',
		))}}
	{# FIN DE BARRE DE NAV  #}
    
    <main>
    {% block main %}
    {% endblock %}
    </main>
    {% block stylesheets %}{% endblock %}
	{% block javascripts %}{% endblock %}

	<script src="{{ asset('js/admin/adminnav/app.js') }}"></script>
    </body>
    </html>