{% extends 'base_admin.html.twig' %}

{% block title %}New Temoignages{% endblock %}

{% block main %}
    <h1>Create new Temoignages</h1>

    {{ include('admin_samtosha_temoignages/_form.html.twig') }}

    <a href="{{ path('admin_samtosha_temoignages') }}">back to list</a>
{% endblock %}
